{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Status{% endblock %}</h1>
	{% if g.user %}
		<a class="action" href="{{ url_for('status.create') }}">Create an event</a>
	{% endif %}
{% endblock %}

{% block content %}
	<h1>We support {{countofevents['days_difference']}} events during 3 days!</h1>
	<form method='POST'>
		<label for="creator">Event Creator</label>
		<input name="creator" id="creator" required>
		<label for='eventname'>Event Name</label>
		<input name="eventname" id="eventname" required>
	</form>
	{% if events%}
		{% for event in events %}
		<article class="event">
			<header>
				<div>
					<h1>{{ event[0] }}</h1>
					<div class="about"> on {{ event['created'] }}</div>
				</div>
			</header>
			<p class="body">{{ event['comment'] }}</p>
		</article>
		{% if not loop.last %}
		<hr>
		{% endif %}
		{% endfor %}
	{% endif %}
	
{% endblock %}
